@using Microsoft.AspNetCore.Identity
@using FlowerShop.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" formmethod="post" id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-link nav-btn nav-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                <img src="~/images/login.png" class="d-inline-block align-top" />&nbsp; Log In
            </a>
        </li>
    </ul>
}